body{
margin:0;
padding:0;
font-family: sans-serif;
background: url(Avatar.jpg) no-repeat;
background-size :cover;
}


form{
	
	margin:0;
	font-family: sans-serif;
	float: left;
	font-size: 40px;
	margin-bottom: 50px;
	padding:13px 0;
	width:300px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

ul {
  opacity: 0.5;
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 200px;
  background-color: #0080ff;
  height: 100%; 
  position: fixed; 
  overflow: auto; 
  position: absolute;
	top:50%;
	left:93.3%;
	transform:translate(-50%,-50%);
}


li a {
	left:100%;
	transform:translate(0%,0%);
  display: block;
  color: #000;
  padding: 8px 35%;
  text-decoration: none;
}
h5 {
margin-bottom: 50px;
	padding:10px 20px;
	width:300px;
	position: absolute;
	top:-50%;
	left:75%;
	transform:translate(-50%,-50%);
	color :blue;
}
h6{
	margin-bottom: 100px;
	padding:100px 100px;
	width:300px;
	position: absolute;
	top:-30%;
	left:85%;
	transform:translate(-50%,-50%);
	color :black;
}
button {
  background-color: blue;
  border: 2px solid blue;
  border-radius: 5px;;
  color: white;
  padding: 5px 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
p {
font-size: 10px;
color :blue;
}
a{
font-family: sans-serif;
font-size: 20px;
color: blue;
}
.Rounded{
background-color: white;
	margin-bottom: 50px;
	padding:13px 0;
	width:25%;
	height:60%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border: 2px solid black;
    border-radius: 5px;;
}
.container{
	background-color: white;
	margin-bottom: 50px;
	padding:13px 0;
	width:35%;
	height:70%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

input{
	padding :5px;
	width:100%;
	border: 2px solid black;
    border-radius: 5px;;
}